In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/AshishJangra27/Data-Analysis-Course-ETG/main/Data%20Analysis%20Assignment/winter.csv")

In [3]:
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

What is the percentage of Male Players in the Winter Olympics

In [26]:
m = 0;
for i in df['Gender'].values:
    
    if(i == 'Men'):
        m +=1
average = ((m/5769.0)*100)
print(average)

68.36540128271797

In [19]:
df['Gender'].values

array(['Men', 'Men', 'Men', ..., 'Women', 'Women', 'Women'], dtype=object)

  Number of Gold Medals wins in entire Winter Olympics

In [27]:
g = 0;
for i in df['Medal'].values:
    
    if(i == 'Gold'):
        g +=1
print(g)

1921

Which country is having most numbers of Medals

In [29]:
df['Country'].unique()

array(['FRA', 'SUI', 'FIN', 'BEL', 'GBR', 'SWE', 'CAN', 'USA', 'AUT',
       'NOR', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'URS', 'EUA',
       'JPN', 'POL', 'PRK', 'ROU', 'GDR', 'ESP', 'LIE', 'BUL', 'YUG',
       'EUN', 'KOR', 'CHN', 'LUX', 'NZL', 'RUS', 'UKR', 'BLR', 'AUS',
       'SLO', 'KAZ', 'UZB', 'DEN', 'CZE', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [30]:
def country(name):
    
    c = 0
    
    for i in df['Country'].values:
        
        if (i == name):
            c += 1
            
    return c

In [31]:
dct = {}

for i in df['Country'].unique():
    dct[i] = country(i)

In [38]:
sorted_dct = sorted(dct.items(), key = lambda kv: kv[1])
sorted_dct

[('NZL', 1),
 ('UZB', 1),
 ('PRK', 2),
 ('ROU', 2),
 ('ESP', 2),
 ('LUX', 2),
 ('DEN', 5),
 ('SVK', 5),
 ('BUL', 6),
 ('YUG', 7),
 ('KAZ', 7),
 ('EST', 7),
 ('LIE', 9),
 ('UKR', 11),
 ('CRO', 11),
 ('HUN', 12),
 ('BEL', 13),
 ('BLR', 15),
 ('AUS', 15),
 ('LAT', 15),
 ('SLO', 18),
 ('EUA', 21),
 ('POL', 27),
 ('EUN', 60),
 ('JPN', 63),
 ('CZE', 75),
 ('GBR', 79),
 ('CHN', 82),
 ('KOR', 87),
 ('FRG', 94),
 ('NED', 122),
 ('FRA', 152),
 ('TCH', 158),
 ('GDR', 162),
 ('ITA', 192),
 ('RUS', 263),
 ('AUT', 280),
 ('SUI', 285),
 ('GER', 360),
 ('SWE', 433),
 ('FIN', 434),
 ('URS', 440),
 ('NOR', 457),
 ('CAN', 625),
 ('USA', 653)]

Which country is having most numbers of Gold Medals

In [39]:
temp = df[df['Medal']=='Gold']

In [40]:
temp

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
5,1924,Chamonix,Biathlon,Biathlon,"JULEN, Alphonse",SUI,Men,Military Patrol,Gold
6,1924,Chamonix,Biathlon,Biathlon,"JULEN, Ant.",SUI,Men,Military Patrol,Gold
7,1924,Chamonix,Biathlon,Biathlon,"VAUCHER, D.",SUI,Men,Military Patrol,Gold
17,1924,Chamonix,Bobsleigh,Bobsleigh,"NEVEU, Alfred",SUI,Men,Four-Man,Gold
...,...,...,...,...,...,...,...,...,...
5757,2014,Sochi,Skiing,Snowboard,"KUMMER, Patrizia",SUI,Women,Giant Parall.S.,Gold
5760,2014,Sochi,Skiing,Snowboard,"FARRINGTON, Kaitlyn",USA,Women,Half-Pipe,Gold
5761,2014,Sochi,Skiing,Snowboard,"DUJMOVITS, Julia",AUT,Women,Parallel Slalom,Gold
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold

In [61]:

def golden(name):
    c = 0
    for i in temp.values:
        if(i[5]==name):
            c+=1
    return c

In [62]:
golden('USA' )

167

In [63]:
tort = df['Country'].unique()

In [66]:
dct1 = {}
for i in tort:
    print(i, ' has ', golden(i), ' Gold medals.')
    dct1[i]= golden(i)

FRA  has  36  Gold medals.
SUI  has  76  Gold medals.
FIN  has  66  Gold medals.
BEL  has  2  Gold medals.
GBR  has  34  Gold medals.
SWE  has  127  Gold medals.
CAN  has  315  Gold medals.
USA  has  167  Gold medals.
AUT  has  79  Gold medals.
NOR  has  159  Gold medals.
GER  has  137  Gold medals.
TCH  has  2  Gold medals.
HUN  has  0  Gold medals.
ITA  has  58  Gold medals.
FRG  has  23  Gold medals.
NED  has  42  Gold medals.
URS  has  250  Gold medals.
EUA  has  8  Gold medals.
JPN  has  17  Gold medals.
POL  has  6  Gold medals.
PRK  has  0  Gold medals.
ROU  has  0  Gold medals.
GDR  has  58  Gold medals.
ESP  has  1  Gold medals.
LIE  has  2  Gold medals.
BUL  has  1  Gold medals.
YUG  has  0  Gold medals.
EUN  has  36  Gold medals.
KOR  has  51  Gold medals.
CHN  has  16  Gold medals.
LUX  has  0  Gold medals.
NZL  has  0  Gold medals.
RUS  has  94  Gold medals.
UKR  has  5  Gold medals.
BLR  has  6  Gold medals.
AUS  has  5  Gold medals.
SLO  has  2  Gold medals.
KAZ  has  1  Gold medals.
UZB  has  1  Gold medals.
DEN  has  0  Gold medals.
CZE  has  28  Gold medals.
CRO  has  4  Gold medals.
EST  has  4  Gold medals.
LAT  has  0  Gold medals.
SVK  has  2  Gold medals.

In [69]:
sorted_dct1 = sorted(dct1.items(), key = lambda kv: kv[1])
sorted_dct1

[('HUN', 0),
 ('PRK', 0),
 ('ROU', 0),
 ('YUG', 0),
 ('LUX', 0),
 ('NZL', 0),
 ('DEN', 0),
 ('LAT', 0),
 ('ESP', 1),
 ('BUL', 1),
 ('KAZ', 1),
 ('UZB', 1),
 ('BEL', 2),
 ('TCH', 2),
 ('LIE', 2),
 ('SLO', 2),
 ('SVK', 2),
 ('CRO', 4),
 ('EST', 4),
 ('UKR', 5),
 ('AUS', 5),
 ('POL', 6),
 ('BLR', 6),
 ('EUA', 8),
 ('CHN', 16),
 ('JPN', 17),
 ('FRG', 23),
 ('CZE', 28),
 ('GBR', 34),
 ('FRA', 36),
 ('EUN', 36),
 ('NED', 42),
 ('KOR', 51),
 ('ITA', 58),
 ('GDR', 58),
 ('FIN', 66),
 ('SUI', 76),
 ('AUT', 79),
 ('RUS', 94),
 ('SWE', 127),
 ('GER', 137),
 ('NOR', 159),
 ('USA', 167),
 ('URS', 250),
 ('CAN', 315)]

Which sport is having most number of Gold Medals

In [71]:
temp = df[df['Medal']=='Gold']
def golds(name):
    c = 0
    for i in temp.values:
        if(i[2]==name):
            c+=1
    return c
tort = df['Sport'].unique()
dct2 = {}
for i in tort:
    
    dct2[i]= golds(i)
sorted_dct2 = sorted(dct2.items(), key = lambda kv: kv[1])
sorted_dct2

[('Curling', 58),
 ('Luge', 62),
 ('Biathlon', 140),
 ('Bobsleigh', 144),
 ('Skating', 412),
 ('Ice Hockey', 510),
 ('Skiing', 595)]

Top 5 Disciplines in terms of Medals

In [75]:
dd=df['Discipline'].unique()

array(['Biathlon', 'Bobsleigh', 'Curling', 'Ice Hockey', 'Figure skating',
       'Speed skating', 'Cross Country Skiing', 'Nordic Combined',
       'Ski Jumping', 'Skeleton', 'Alpine Skiing', 'Luge',
       'Short Track Speed Skating', 'Freestyle Skiing', 'Snowboard'],
      dtype=object)

In [1]:
def dis(name):
    
    c = 0
    
    for i in df['Discipline'].values:
        
        if (i == name):
            c += 1
            
    return c

In [7]:
dctd = {}

for i in df['Discipline'].unique():
    dctd[i] = dis(i)
sorted_dctd = sorted(dctd.items(), key = lambda kv: kv[1])
sorted_dctd

[('Skeleton', 30),
 ('Snowboard', 90),
 ('Freestyle Skiing', 102),
 ('Nordic Combined', 165),
 ('Curling', 172),
 ('Luge', 180),
 ('Ski Jumping', 207),
 ('Short Track Speed Skating', 290),
 ('Figure skating', 359),
 ('Biathlon', 420),
 ('Bobsleigh', 422),
 ('Alpine Skiing', 428),
 ('Speed skating', 580),
 ('Cross Country Skiing', 789),
 ('Ice Hockey', 1536)]

Top 5 Disciplines in terms of Bronze Medals

In [16]:
temp = df[df['Medal']=='Bronze']
def b(name):
    c = 0
    for i in temp.values:
        if(i[3]==name):
            c+=1
    return c
tort = df['Discipline'].unique()
dct2 = {}
for i in tort:
    
    dct2[i]= b(i)
sorted_dct2 = sorted(dct2.items(), key = lambda kv: kv[1])
sorted_dct2

[('Skeleton', 10),
 ('Snowboard', 30),
 ('Freestyle Skiing', 34),
 ('Nordic Combined', 55),
 ('Curling', 56),
 ('Luge', 60),
 ('Ski Jumping', 68),
 ('Short Track Speed Skating', 96),
 ('Figure skating', 118),
 ('Biathlon', 139),
 ('Alpine Skiing', 141),
 ('Bobsleigh', 147),
 ('Speed skating', 190),
 ('Cross Country Skiing', 263),
 ('Ice Hockey', 512)]